* {
  margin: 0;
  padding: 0;
}

.wrap {
  margin-left: 40%;
  margin-top: 10%;
  border: 1px solid #0000;
  background-color: aquamarine;
  width: 330px;
  height: 370px;
  display: grid;
  padding: 20px;
  border-radius: 7px;
}

.wrap:hover {
  background-color: rgb(173, 161, 91);
}
input {
  height: 30px;
  width: 310px;
  border-radius: 5px;
}
button {
  margin-top: 10px;
  width: 120px;
  border-radius: 7px;
  height: 35px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 30%;
  padding: 6px;
  margin-top: 20px;
  cursor: progress;
}

#result {
  font-size: 30px;
  color: crimson;
}

label {
  padding: 9px;
  font-family: fantasy;
  font-weight: 100;
  font-size: 18px;
}

.btn {
  background-color: rgb(46, 46, 145);
  color: #ffff;
}

.btn:hover {
  background-color: rgb(167, 70, 70);
}

p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

::placeholder {
  font-size: 17px;
}
